html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  background-color: #e2e2e0;
}

.app {
  display: flex;
  height: 100vh;
  background-color: #c3bfbf;
}

.toolbar {
  width: 60px;
  height: 200px;
  background-color: #f7f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool {
  width: 30px;
  margin: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1dbe2;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: move;
  /* color: red */
}

.canvas {
  flex: 1;
  position: relative;
  /* overflow: hidden; */
  background-color: #151418;
}

.draggable-element {
  min-width: 300px;
  min-height: 150px;
  color: #282525;
  position: absolute;
  background-color: #dad4d4;
  border: 1px solid #000000;
  padding: 0 10px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  touch-action: none;
  resize: both;
  overflow: auto;
  border-radius: 2%;
}

.draggable-menu {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0077ff;
}

.resize-handle.right {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.resize-handle.bottom {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  background-color: #ccc;
  border: none;
}

svg:hover, button:hover {
  cursor: pointer;
  color: purple
}