html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  background-color: #e2e2e0;
}

.app {
  display: flex;
  height: 100vh;
  background-color: #131212;
}

.toolbar {
  width: 40px;
  background-color: rgb(137, 87, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool {
  width: 25px;
  height: 25px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4dbe2;
  background-color: #121013;
  border-radius: 50%;
  cursor: move;
}

.canvas {
  flex: 1;
  position: relative;
  background-color: #151418;
}

.draggable-element {
  min-width: 300px;
  min-height: 150px;
  color: #dcdada;
  position: absolute;
  background-color: rgb(35, 36, 31);

  opacity: 0.9;
  border: 1px solid #6d6363;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  touch-action: none;
  resize: both;
  overflow: auto;
  border-radius: 2%;
}

.draggable-element:hover {
  border: 1px solid rgb(137, 87, 229); 
}

.draggable-menu {
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #6d6363;
  background-color: #121013;

}

::before {
  color: #fff;
}

svg {
  padding: 0 10px;
}
button {
  background-color: transparent;
  color: #fff;
  border: none;
}

svg:hover, button:hover {
  cursor: pointer;
}

.draw {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.draw-canvas {
  background-color: #ccc;
  cursor: crosshair;
}

.draw button {
  padding: 5px;
}

.ql-container {
}

.ascii {
  color:rgb(137, 87, 229)
}